@charset "utf-8";

.aboutContentBox {
	margin-top: 95px;
}

.aboutContent-first {
	background-color: #a0a0a0;
	height: 500px;
	*height: 556px;
	box-sizing: border-box;
	padding-top: 20px;
}

.aboutContent-firstBg {
	*width: 998px;
	background-color: #333;
	height: 460px;
	*height: 384px;
	box-sizing: border-box;
	padding: 76px;
}

.aboutContent-firstText {
	margin-left: 90px;
}

.aboutContent-firstText > p {
	font-size: 16px;
	color: #ccc;
	line-height: 26px;
}

.aboutContent-firstText > p:first-child {
	font-size: 30px;
	height: 64px;
	line-height: 64px;
	text-align:center;
}

.aboutContent-second {
	background-color: #333;
	height: 500px;
}

.aboutContent-secondBg {
	box-sizing: border-box;
	padding-top: 64px;
	padding-bottom: 64px;
}

.aboutContent-secondText {
	width: 545px;
}

.aboutContent-secondText > p {
	font-size: 16px;
	color: #ccc;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0 140px 0 145px;
}

.aboutContent-secondText > p:first-child {
	font-size: 30px;
	text-align:center;
	margin-top: 78px;
	margin-bottom: 50px;
}

.aboutContent-third {
	background-color: #ccc;
	height: 480px;
}

.aboutContent-thirdBg {
	box-sizing: border-box;
	padding-top: 73px;
	padding-left: 75px;
}

.aboutContent-thirdText {
	margin-left: 130px;
}

.aboutContent-thirdText > p {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #333;
	line-height: 30px;
}

.aboutContent-thirdText > p:first-child {
	font-size: 30px;
	text-align:center;
	line-height: 70px;
}
