@charset "utf-8";

.w {
	width: 1150px;
	margin: 0 auto;
}

.ws {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.indexPageTopBg1 {
	position: relative !important;
}

.indexPageTopBg {
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 125px;
	z-index: 9;
	background-image: url('../img/homepage/background.jpg');
	background-position: center center; 
	background-size: cover;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
	background-repeat: no-repeat;
}



.topIndex {
	z-index:10;
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
}

.ContactPageTopBg {
	width: 100%;
	margin: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 125px;
	z-index: 9;
	background-image: url('../img/contact/background.jpg');
	background-position:center bottom;
	background-size: cover;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
	background-repeat: no-repeat;
}

.indexPageBottomBg {
	width: 100%;
	height: 125px;
	*height:88px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../img/homepage/background2.jpg');
	background-size: cover;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
	padding-top: 40px;
	*padding-top: 37px;
	text-align: center;
	box-sizing: border-box;
}

.ContactPageBottomBg {
	width: 100%;
	height: 125px;
	*height: 88px;
	background-image: url('../img/contact/background2.jpg');
	background-position: 100% 100%;
	background-size: cover;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
	padding-top: 37px;
	text-align: center;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

#logoBox {
	width: 100px;
	height: 61px;
	display: inline-block;
	margin: 25px 0 0;
	z-index: 10;
}

#logoBox h3 {
	display: inline-block;
}

#logoBox h3 img {
	font-size: 0px;
	vertical-align: middle;
}

.inputPageBtns {
	text-align: center;
	font-size: 0px;
	position: fixed;
	left: 0;
	right: 0;
	top: 33%;
	z-index: 11;
	margin: 0 auto;
}

.inputPageBtns a {
	width: 211px;
	height: 49px;
	line-height: 49px;
	display: inline-block;
	margin-right: 25px;
	font-size: 18px;
	color: #666;
	background-image: url('../img/homepage/btn.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
}

.inputPageBtns a:nth-child(4) {
	margin-right: 0;
}

.indexPageBottom,
.workerPageBottom {
	font-size: 0;
}

.indexPageBottom a,
.workerPageBottom a{
	font-size: 15px;
	color: #fff;
	padding: 0 20px 0 20px;
}

.indexPageBottom a:last-child,
.workerPageBottom a:last-child,
.quaPageBottom a:last-child {
	border-right: none;
}

.indexPageBottomIcon {
	margin-top: 17px;
}

.indexPageBottom span,
.workerPageBottom span,
.quaPageBottom span {
	width: 1px;
	background-color: #ccc;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.indexPageBottom a,
.workerPageBottom a,
.quaPageBottom a  {
	color: #ccc;
	vertical-align: middle;
}

.indexPageBottom a:hover,
.workerPageBottom a:hover,
.quaPageBottom a:hover,
.indexPageBottomIcon a:hover {
	color: #fff;
}

.indexPageBottomIcon a {
	font-size: 15px;
	color: #ccc;
	vertical-align: middle;
}

.indexPageBottomIcon img {
	width:20px;
	vertical-align: middle;
}


.workerPageTopBg {
	width: 100%;
	height: 636px;
	background-image: url('../img/workerpage/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
	position: relative;
}

.workerPageBottomBg {
	width: 100%;
	height: 125px;
	*height: 85px;
	background-image: url('../img/workerpage/background3.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
	padding-top: 40px;
	text-align: center;
	box-sizing: border-box;
}


#workerPageErCode {
	width: 125px;
	height: 160px;
	position: absolute;
	bottom: 0;
	right: 160px;
}

#workerPageErCode1 {
	width: 125px;
	height: 160px;
	float: right;
	margin-right: 30px;
	clear: both;
}

.workerPageSecondBg {
	width: 100%;
	height: 367px;
	background-image: url('../img/workerpage/background2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    -ms-behavior: url('./css/backgroundsize.min.htc');
    behavior: url('./css/backgroundsize.min.htc');
}

.workerPageSecondPad {
	padding-left: 87px;
	*padding-left: 165px;
	box-sizing: border-box;
}

.workerPageSecondText {
	width: 430px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	margin-top: 60px;
}

.workerPageSecondText p:nth-child(2) {
	font-size: 50px;
	margin: 30px 0;
}

.workerPageSecondPad > img {
	margin-top: 80px;
}

.workerPageThirdBg {
	height: 371px;
	padding-top: 60px;
	box-sizing: border-box;
	background-color: #ccc;
}

.workerPageThirdBg img {
	width: 224px;
	height: 256px;
}

.rePosition {
	position: relative;
}

.rePosition p {
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	position: absolute;
	bottom: 28px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.mPosition {
	margin-right: 6px;
}

.mPosition:last-child {
	margin-right: 0px;
}

